@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Lato:300,400,700");
/*---------------Color----------------------*/
/*---------------Global Variable----------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

h3 {
  font-weight: 200;
  color: #fefefe;
  letter-spacing: 0.15em;
  line-height: 2em; }

h3:after {
  content: '';
  background-color: #fefefe;
  height: 1px;
  display: block;
  width: 10%;
  margin-left: 45%; }

.wd-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url(../images/saad-70763.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; }

.wd-timer {
  margin-top: 2rem;
  color: #fefefe; }
  .wd-timer #days, .wd-timer #hours, .wd-timer #minutes, .wd-timer #seconds {
    display: inline-block;
    width: 8em;
    background: rgba(114, 103, 103, 0.588);
    border: 3px solid rgba(255, 255, 255, 0.588);
    padding: 2em;
    border-radius: 100%;
    text-align: center;
    font-size: 1.1em;
    font-weight: normal;
    color: #fefefe;
    transition: all 0.2s; }
    .wd-timer #days span, .wd-timer #hours span, .wd-timer #minutes span, .wd-timer #seconds span {
      font-weight: bold;
      display: block; }
    .wd-timer #days:hover, .wd-timer #hours:hover, .wd-timer #minutes:hover, .wd-timer #seconds:hover {
      background-color: rgba(114, 103, 103, 0.9);
      border: 3px solid rgba(255, 255, 255, 0.9); }
  .wd-timer .seperator {
    font-family: 'Great Vibes',sans-serif;
    font-size: 3em;
    padding: 0.35em; }

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fefefe;
  border: 3px solid rgba(255, 255, 255, 0.588);
  padding: 0 2.5em 0 2.5em;
  margin: 1.5em 0.3em;
  letter-spacing: 0.15em;
  font-weight: lighter;
  border-radius: 0.2em; }
  .btn span {
    display: block;
    font-size: 0.9rem;
    color: #a7a3a3; }

.btn-wd {
  background-color: rgba(114, 103, 103, 0.588);
  transition: all 0.2s; }
  .btn-wd:hover {
    background-color: rgba(114, 103, 103, 0.9);
    border: 3px solid rgba(255, 255, 255, 0.9); }
    .btn-wd:hover span {
      color: #fefefe; }

.wd-footer img {
  width: 70%; }

@media only screen and (max-width: 900px) {
  .wd-container {
    height: auto; }

  h3 {
    font-size: 0.9em; }

  .logo {
    padding-top: 0.6em; }
    .logo .wd-logo {
      width: 90vw;
      height: auto; }

  .wd-timer {
    margin-top: 2rem;
    color: #fefefe; }
    .wd-timer #days, .wd-timer #hours {
      display: inline-block;
      width: 6em;
      padding: 1em;
      font-size: 1em; }
    .wd-timer .seperator {
      font-family: 'Great Vibes',sans-serif;
      font-size: 2em; }
    .wd-timer .mv-hdn {
      display: none;
      visibility: hidden; }

  .wd-links {
    margin: 2em auto; }
    .wd-links .btn {
      padding: 0.15em 1.5em;
      margin: 0.8em 1em;
      font-size: 0.9em; }
      .wd-links .btn span {
        font-size: 0.6rem; } }
@media only screen and (max-width: 900px) and (orientation: landscape) {
  .wd-timer {
    margin-top: 2rem;
    color: #fefefe; }
    .wd-timer #days, .wd-timer #hours, .wd-timer #minutes, .wd-timer #seconds {
      display: inline-block;
      width: 6em;
      padding: 1em;
      font-size: 1em; }
    .wd-timer .seperator {
      font-family: 'Great Vibes',sans-serif;
      font-size: 2em; }
    .wd-timer .mv-hdn {
      display: inline-block;
      visibility: visible; }

  .wd-footer img {
    width: 40%; } }
@media only screen and (min-width: 901px) {
  .logo {
    margin-top: 1em; }
    .logo .wd-logo {
      width: 55vw;
      height: auto; }

  .wd-footer img {
    width: 20%; }

  .btn {
    margin: 1.5em 2em; } }

/*# sourceMappingURL=style.css.map */
