@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Lato:300,400,700');
/*---------------Color----------------------*/
$white : #fefefe;

/*---------------Global Variable----------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h3{
    font-weight:200;
    color: $white;
    letter-spacing: 0.15em; 
    line-height: 2em;
}

h3:after {  
    content: '';  
    background-color: $white;  
    height: 1px;  
    display: block;
    width: 10%;
    margin-left: 45%;
    
}  

.wd-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.54),rgba(0,0,0,0.54)),url(../images/saad-70763.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.wd-timer{
    margin-top: 2rem;
    color: $white;
    #days,#hours,#minutes,#seconds{
        display: inline-block;
        width: 8em;
        background: rgba(114, 103, 103,0.588);
        border: 3px solid rgba(255, 255, 255,0.588);
        padding: 2em;
        border-radius: 100%;
        text-align: center;
        font-size: 1.1em;
        font-weight: normal;
        color: $white;
        transition: all 0.2s;
        span{
            font-weight: bold;
            display: block;
        }
        &:hover{
            background-color: rgba(114, 103, 103,0.9);
            border: 3px solid rgba(255, 255, 255,0.9);
        }
    }
    .seperator{
        font-family: 'Great Vibes',sans-serif;
        font-size: 3em;
        padding: 0.35em;
    }
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: $white;
    border: 3px solid rgba(255, 255, 255,0.588);
    padding: 0 2.5em 0 2.5em;
    margin: 1.5em 0.3em;
    letter-spacing: 0.15em;
    font-weight: lighter;
    border-radius: 0.2em;
    span{
        display: block;
        font-size: 0.9rem;
        color: rgb(167,163,163);
    }
}
.btn-wd{
    background-color: rgba(114, 103, 103,0.588);
    transition: all 0.2s;
    &:hover{
        background-color: rgba(114, 103, 103,0.9);
        border: 3px solid rgba(255, 255, 255,0.9);
    }
}
.wd-footer{
    img{
        width: 70%;
    }
}

@media only screen and (max-width: 900px){
    h3{
        font-size: 0.9em;
    }
    .logo{
        padding-top: 0.6em;
        .wd-logo{
        width: 90vw;
        height: auto;
        }
    }
    .wd-timer{
        margin-top: 2rem;
        color: $white;
        #days,#hours{
            display: inline-block;
            width: 6em;
            padding: 1em;
            font-size: 1em;
        }
        .seperator{
            font-family: 'Great Vibes',sans-serif;
            font-size: 2em;
        }
        .mv-hdn{
            display: none;
            visibility: hidden;
        }
    }
    .wd-links{
        margin: 2em auto;
        .btn{
        padding: 0.15em 1.5em;
        margin: 0.8em 1em;
        font-size: 0.9em;
        span{
            font-size: 0.6rem;
            }
        }   
    }
}

@media only screen and (min-width:901px){
    .logo{
        margin-top: 1em;
        .wd-logo{
        width: 55vw;
        height: auto;
        }
    }
    .wd-footer{
    img{
        width: 35%;
    }
}
    .btn{
    margin: 1.5em 2em;
    }
    
}

